.row {
/*max-width: 85rem; */
}

/**body {
    background-color: #ccc;
} **/

body {
  background: #FFFFFF;
  color: #292929;
  font: 400 16px/1.5em "Lato", "Opens Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
 
/** Set the backgrounds for the different sections **/
.header-area {
   background-color: #E0E0E0;
   height: 100px;
   margin-bottom; 10px;
}
 
.content-area {
    max-width: 85rem;
    padding: 50px 0 70px 0;
    margin: 0 auto 0 auto;
}
 
.footer-area {
    background-color: #1f1f1f;  
    color: #fff;
    min-height: 50px;
    padding: 20px 0 0 0;
}
 
.full-width {
    min-width:100%;
    position: relative;
}

.map {
  width: 100%;
  height: 312px;
  padding-top: 0.5em;

}

/** Removes black background on menu bar **/

.top-bar {
	background: none;
}


 
/** Removes black background on menu item **/
.top-bar-section li a:not(.button) {
    background: none;
    line-height: 58px;
    padding: 0 27px;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, p {
  margin-bottom: 1.3rem;

}

h1 {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.3rem;
  font-size: 100%;

}

h3 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1rem;
}

p {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}

.wildcard{
  color: #C8C8C8;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.6rem;
}

/*
  ========================================
  Form custom
  ========================================
*/
.a-bit-down {
  margin-top: 0.4rem;
}
.align-left {
  padding-left: 0px;
}

@media only screen and (min-width: 64.063rem) {
  .row.collapse > .column, .row.collapse > .columns.left_column {
    padding-left: 0px ;
    padding-right: 1%
  }
  .row.collapse > .column, .row.collapse > .columns.right_column {
    padding-right: 0px;
    padding-left: 1%
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  vertical-align: baseline; }

/* We use this to get basic styling on all basic form elements */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #C8C8C8;
  font-family: inherit;
  border-style: none;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 0.3rem 0;
  padding: 0.5rem;
  height: 1.5rem;
  width: 100%; }

.has-tip {
  border-bottom: dotted 1px #CCCCCC;
  cursor: help;
  font-weight: 100;
  color: #292929; }
  .has-tip:hover, .has-tip:focus {
    font-weight: 400;
    border-bottom: none;
    color: #292929; }
 
.tooltip {
  font-weight: 400;
  font-size: 0.9rem;
  color: #fafafa;
  background: #292929; }


.my-custom-theme {
  border-radius: 5px; 
  border: 2px solid #000;
  background: #FFFFFF;
  color: #fff;
}

.my-custom-theme .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}